body{
	background-image: url(../img/goddard_wallpaper.jpg); 
	background-repeat: no-repeat;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 50px;
}

label {
	color: white;
	font-size: 15px;

}

td,th {
	text-align: center;
	color: white;
	}

.table {
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
   	background-color: black;
   	-moz-opacity:0.9;
   	opacity: 0.65;
}