vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Jun 2013 12:59:39 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|DIEGOANDIARENA\\DIEGO ANDIARENA
vti_modifiedby:SR|DIEGOANDIARENA\\DIEGO ANDIARENA
vti_timecreated:TR|13 Apr 2013 22:04:48 -0000
vti_nexttolasttimemodified:TW|13 Apr 2013 22:04:48 -0000
vti_cacheddtm:TX|19 Jun 2013 12:59:39 -0000
vti_filesize:IR|115
vti_cachedlinkinfo:VX|S|cursor.cur S|hand.cur
vti_cachedsvcrellinks:VX|FSUS|cursor/cursor.cur FSUS|cursor/hand.cur
